{% extends 'base.html' %}


{% block content %}

<div id="banner">
	<h3><strong>Django Blog:</strong> A responsive blog site
		<br/> Developed by  <b>Rakesh Kumar</b> with Django 
		<br>with frontend from <a href="https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog/snippets">CoreyMSchafer</a>.</h3>
				
</div>


{% endblock %}
	<!--<div>
		<p> This is blog site where you can write blogs. </p>
	</div>
	<h5> Development references: </h5>
	<h5> Backend(Django): <a href="#">Rakesh Kumar </a></h5>
	<h5> Frontend: <a href="https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog/snippets">CoreyMSchafer</a></h5>-->

